@import url(styles/nav.css);
@import url(styles/apresentacao.css);
@import url(styles/segunda.css);
@import url(styles/terceira.css);
@import url(styles/vagas.css);
@import url(styles/rodape.css);
@import url(styles/end.css);

:root {
  --text-color: #667085;
  --preto-titulo: #101828;
  --vermelho-destaque: #8E2424;
  --branco-principal:#FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}



  .about-us p {
    max-width: 70%;
  }

  .vaga {
    max-width: 70%;
  }
  
  .vagas-abertas span.area-principal {
    max-width: 70%;
  }

  .depoimento h2 {
    max-width: 100%;
    font-size: 120%;
  }












